.catalog-extra {
  position: relative;

  &__flex {
    @media (min-width: @desktop-width) {
      display: flex;
      padding: 0 110px;
      justify-content: space-between;
    }
  }


  &__title {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 36px;
    color: @black;
    background-color: @white;
    padding-left: 20px;
    width: fit-content;

    @media (min-width: @tablet-width) {
      margin-left: 40px;
      font-size: 36px;
      padding-left: 30px;
      padding-right: 30px;
      background: @white;
      width: fit-content;
    }


    @media (min-width: @desktop-width) {
      padding: 0 79px;
      margin-bottom: 80px;
    }


      &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      top: 14px;
      right: 0;
      z-index: -1;
    }
  }

  &__list {
    padding: 0 20px;

    @media (min-width: @tablet-width) {
      padding: 0 30px;
    }


    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &__title-action {
    position: absolute;
    bottom: 50px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    left: 70px;
    color: @white;
    width: 161px;

    @media (min-width: @tablet-width) {
      left: 500px;
      bottom: 70px;
    }

    @media (min-width: @tablet-width) {
      left: 53px;
      bottom: 70px;
    }

  }



  &__action {
    position: relative;
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
     margin-bottom: 75px;
    }
  }

  &__img {
    padding-left: 20px;

     @media (min-width: @tablet-width) {
    padding: 0 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      }
  }


  .extra-card {
    padding: 20px 0 ;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;

    @media (min-width: @tablet-width) {
      padding: 26px 37px;
      border:  1px solid #CDCDCD;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 2fr 244px;
      column-gap: 42px;
      padding: 15px 0;
      border: none;
      border-top: 1px solid #CDCDCD;
      border-bottom: 1px solid #CDCDCD;
    }

      &__button {
        width: 280px;


        @media (min-width: @tablet-width) {
          width: 632px;
        }

        @media (min-width: @desktop-width) {
         width: 244px;
        }
      }

      &__flex {
        @media (min-width: @tablet-width) {
          display: flex;
          justify-content: space-between;
        }
      }


    &__title {
      font-family: Oswald;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      color: #222222;
      margin-bottom: 13px;


      @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }

    &__description {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      gap: 50px;
    }
  }

  ul li:last-child  {
    margin-bottom: 54px;
  }
}
